extends ./layout/master

block head
  title Relatórios
  link(rel="stylesheet", href="./styles/report.css")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="https://unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js")

block content
  .row
    .col-lg-16.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Relatórios
          p.card-description
            | Aqui você pode ver os relatórios
            
          .table-responsive
            table.table(id='table')
              thead
                tr
                  th ID
                  th Data da criação
                  th Conteúdo
                  th Nome do colaborador
                  th Cargo do colaborador
                  th Nome da construção
                  th Data do agendamento
                  if canEdit === true
                    th Ações
              tbody
                each report in reports
                  tr
                    td= report.id
                    td= report.createdAt.toLocaleString('pt-Br').split(',')[0]
                    td= report.description
                    td= report.user.name
                    td= report.user.office
                    td= report.construction.name
                    td= report.schedule.dateSchedule.toLocaleString('pt-Br').split(',')[0]
                    if canEdit === true
                      td
                        button.btn.btn-danger.btn-rounded.btn-fw(style="margin-left: 1rem;" onclick=`openModalDelete({ id: ${report.id}, name: '${report.construction.name}'})` data-id=report.id) Excluir

    #editModal.modal
      .modal-content
        h4.card-title Relatório
        form(id="editUserForm")
          input(type="hidden", id="id", name="id")
          input(type="hidden", id="createdAt", name="createdAt")
          input(type="hidden", id="constructionId", name="constructionId")


          .form-group
            label(for="userId") Usuario:
            select.form-control(id="userId")
              option(value=user.id)= user.name

          .form-group
            label(for="allocationSelect") Data do agendamento - Construção:
            select.form-control(id="allocationSelect")
              option(value=0)

          .form-group
            label(for="description") Descrição:
            input.form-control(type="text", id="description", name="description", required)

          .form-group
            button.btn.btn-primary.me-2n(onclick='requestModal()') Salvar
            button.btn.btn-light(onclick='closeModal()') Cancelar
            label(id="errorMessage", style="display: none; color: red;")

    #deleteModal.modal
      .modal-content
        h4.card-title Confirmar Exclusão
        h4.card-title Tem certeza de que deseja excluir esse relatório?
          .form-group
              input.form-control(type="text", id="idDelete", name="idDelete", readonly)
          .form-group
              input.form-control(type="text", id="nameDelete", name="nameDelete", readonly)
          .form-group
            button.btn.btn-danger.btn-rounded.btn-fw.deleteBtn(onclick='deleteModalRequest()') Excluir
            button.btn.btn-light(onclick='closeModalDelete()') Cancelar
            label(id="errorMessageDelete", style="display: none; color: red;")

    script(src="./javascript/report.js")