extends ./layout/master

block head
  title Gerenciar Agendamentos
  link(rel="stylesheet", href="./styles/schedule.css")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="https://unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js")

block content
  .row
    .col-lg-16.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Agendamentos
          p.card-description
            | Aqui você pode ver os agendamentos
          if canEdit === true 
            button.btn.btn-primary.btn-lg.btn-block( onclick="openModal()") Adicionar

          .table-responsive
            table.table(id="table")
              thead
                tr
                  th ID
                  th Data da criação
                  th ID do colaborador
                  th Nome do colaborador
                  th ID da construção
                  th Nome da construção
                  th ID da alocação
                  th Data da alocação
                  th Data do agendamento
                  th Status
                  if canEdit === true
                    th Ações
              tbody
                each schedule in schedules
                  tr
                    td= schedule.id
                    td= schedule.createdAt.toLocaleString('pt-Br').split(',')[0]
                    td= schedule.userId
                    td= schedule.user.name
                    td= schedule.constructionId
                    td= schedule.construction.name
                    td= schedule.allocationId
                    td= schedule.allocation.createdAt.toLocaleString('pt-Br').split(',')[0]
                    td= schedule.dateSchedule.toLocaleString('pt-Br').split(',')[0]
                    td
                      if schedule.status === 'active' 
                        label.badge.badge-danger Ativa
                      else
                        label.badge.badge-info Finalizada
                    if canEdit === true
                      td
                        button.btn.btn-warning.btn-rounded.btn-fw(onclick=`openModal(${JSON.stringify(schedule)})` data-id=schedule.id ) Editar
                        button.btn.btn-danger.btn-rounded.btn-fw(style="margin-left: 1rem;" onclick=`openModalDelete({ id: ${schedule.id}, name: '${schedule.construction.name}'})` data-id=schedule.id) Excluir

    #editModal.modal
      .modal-content
        h4.card-title Agendamento
        form(id="editUserForm")
          input(type="hidden", id="id", name="id")
          input(type="hidden", id="constructionId", name="constructionSelect")
          input(type="hidden", id="createdAt", name="createdAt")

          .form-group
            label(for="usersSelect") Colaborador:
            select.form-control(onclick="completeSelect()" id="usersSelect")
              option(value=0)
              for user in users
                option(value=user.id)= user.name

          .form-group
            label(for="allocationSelect") Data da Alocação - Construção:
            select.form-control(onclick="completeAllocation()" id="allocationSelect")
              option(value=0)

          .form-group
            label(for="dateSchedule") Data do agendamento:
            input.form-control(type="Date", id="dateSchedule", name="dateSchedule", required)

          .form-group
            label(for="status") Status:
            select.form-control(id="statusSelect")
              option(value='active') Ativa

          .form-group
            button.btn.btn-primary.me-2n(onclick='requestModal()') Salvar
            button.btn.btn-light(onclick='closeModal()') Cancelar
            label(id="errorMessage", style="display: none; color: red;")

    #deleteModal.modal
      .modal-content
        h4.card-title Confirmar Exclusão
          .form-group
              label() Tem certeza de que deseja excluir esse agendamento?
              input.form-control(id="idDelete", name="idDelete", readonly, type="hidden")
          .form-group
              input.form-control(type="text", id="nameDelete", name="nameDelete", readonly)
          .form-group
            button.btn.btn-danger.btn-rounded.btn-fw.deleteBtn(onclick='deleteModalRequest()') Excluir
            button.btn.btn-light(onclick='closeModalDelete()') Cancelar
            label(id="errorMessageDelete", style="display: none; color: red;")

    script(src="./javascript/schedule.js")