extends ./layout/master
block head
  title Gerenciar Colaboradores
  link(rel="stylesheet", href="./styles/user.css")
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="https://unpkg.com/vanilla-masker@1.1.1/lib/vanilla-masker.js")

block content
  h1 Gerenciar Colaboradores
  button(class="addUser") Adicionar
  main
    if users.length === 0
      p Não há colaboradores cadastrados.
    else
      table
        thead
          tr
            th ID
            th CPF
            th Email
            th Nome
            th Data de criação
            th Data de atualização
            th Administrador
            th Telefone 
            th Cidade
            th CEP
            th Rua 
            th Número da casa
            th Bairro
            th Cargo 
        tbody
          each user in users
            tr
              td= user.id
              td= user.cpf
              td= user.email
              td= user.name
              td= user.createdAt.toLocaleString('pt-BR', { timezone: 'UTC' })
              td= user.updatedAt ? user.updatedAt.toLocaleString('pt-BR', { timezone: 'UTC' }): ''
              td= user.admin
              td= user.phone
              td= user.city
              td= user.zipCode
              td= user.road
              td= user.numberHouse
              td= user.neighborhood
              td= user.office
              td
                button(class="editBtn" data-id=user.id ) Editar
                button(class="deleteBtn" data-id=user.id) Excluir

    // Modal para edição de usuário
    #editModal.modal
      .modal-content
        span.closeModal &times;
        h2 Editar Usuário
        form(id="editUserForm")
          input(type="hidden", id="userId", name="userId")
          input(id="createdAt", name="createdAt", required, type="hidden")
          label(for="name") Nome:
          input(type="text", id="name", name="name", required)
          br
          label(for="email") Email:
          input(type="email", id="email", name="email", required)
          br
          label(for="password") Senha:
          input(type="password", id="password", name="password", required)
          br
          label(for="cpf") CPF:
          input(type="text", id="cpf", name="cpf", required)
          br
          label(for="phone") Celular:
          input(type="text", id="phone", name="phone", required)
          br
          label(for="zipCode") CEP:
          input(type="text", id="zipCode", name="zipCode", required)
          br
          label(for="city") Cidade:
          input(type="text", id="city", name="city", required)
          br
          label(for="road") Rua:
          input(type="text", id="road", name="road", required)
          br
          label(for="numberHouse") Número da Casa:
          input(type="text", id="numberHouse", name="numberHouse", required)
          br
          label(for="neighborhood") Bairro:
          input(type="text", id="neighborhood", name="neighborhood", required)
          br
          label(for="office") Cargo:
          input(type="text", id="office", name="office", required)
          br
          label(for="admin") Administrador:
          input(type="checkbox", id="admin", name="admin", checked)
          br
          input(type="submit", value="Salvar")
          label(id="errorMessage", style="display: none; color: red;")

    script(src="./javascript/user.js")